<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <header>
        <img class="logo" src="../static/logo_white.svg" alt="logo" onclick="location.reload()">
        <nav>
            <ul class="nav__links">
                <li>
                    <div class="box">
                        <form onsubmit="handleSearch(event)">
                            <input type="text" id="searchQuery" placeholder="Search...">
                            <i id="search_icon" onclick="handleSearch(event)" class="fas fa-search" aria-hidden="true"></i>
                        </form>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="tags-dropdown">
                        <i class="fa-solid fa-tags"></i>
                    </a>
                    <ul class="dropdown-menu" id="tags-dropdown-menu" style="display: none;">
                        <!-- Tags will be dynamically added here -->
                    </ul>
                </li>

                <li>
                    <a href="/options">
                        <i class="fas fa-bars" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                <div id="languageSwitcherContainer">
                    <button onclick="changeLanguage('en')"> English </button>
                    <button onclick="changeLanguage('es')"> Spanish </button>
                </div>
                </li>
                <li>
                    <a class="cta" href="/">
                        <button>Log Out</button>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="notes">
        <div class="notes__sidebar">
            <button class="notes__add" onclick="handleNewNote()">New Note</button>
            <form action="/delete" method="GET">
                <button type="submit" class="notes__delete">Delete Notes</button>
            </form>

            <form action="/home" method="GET" id="form1" name="form1">
                <div class="notes__list" id="notes__list">
                    {% for tuple in note_tuples %}
                    <div id="pair{{tuple[0]}}" class="list_pair">
                        <div class="notes__list-item" id="note{{ tuple[0] }}" tabindex="-1" type="submit">
                            <div class="notes__small-title">{{tuple[1]| truncate(30, true, '...',0)}}</div>
                            <div class="notes__small-body">{{tuple[2] | truncate(45, true,'...',0)}}</div>
                            <div class="notes__small-updated" id="update">Last Edited Friday 3:00 PM</div>
                        </div>
                        {% if tuple[3] %}
                        <img id="thumb{{ tuple[0] }}" class="notes__list-item thumb"src="/thumbnails/{{ tuple[0] }}.png">
                        {% else %}
                        <img id="thumb{{ tuple[0] }}" class="notes__list-item thumb" style="display:none">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>

        <div id="notes__preview" class="notes__preview" name="notes__preview" selected_note_id="0">
            <form action=/home method="post">
                <input id=note_title name="note_title" class="notes__title" type="text" value="{{ selected_title }}"
                    placeholder="Enter a title...">
                <div id="taglist">
                    <ul id="tags">
                    </ul>
                    <div id="tag_end">
                        <input id="add_tag" type="text" name="new_tag_name" value="{{ tagName }}" placeholder="New Tag">
                        <button id="add_tag_button" class="tag" type="button" onclick="handleAddTag()" name="button"
                            value="tag_button">+</button>
                    </div>
                    <button id="gen_thumb" type="button" onclick="handleGenThumb()">Generate New Thumbnail</button>
                </div>
                <textarea id="note_body" name="note_body" class="notes__body"
                    placeholder="I am the note's body...">{{ selected_body }}</textarea>
                <script type="text/javascript">
                    textarea = document.querySelector(".notes__body");
                    textarea.addEventListener('input', autoResize, false);

                    function autoResize() {
                        this.style.height = 'auto';
                        this.style.height = this.scrollHeight + 'px';
                    }
                </script>
                <button type="button" class="notes__download" name="button" onclick="download()"
                    value="save_note_button">Download</button>
                <button type="button" class="notes__save" name="button" onclick="handleSaveNote()"
                    value="save_note_button">Save Note</button>
            </form>
        </div>
    </div>

    <script>

        // add eventListeners to all notes in the note sidebar to update the notes editting area when clicked
        function makeNotesListClickable() {
            
            // get all note divs in the sidebar
            let divs = document.getElementsByClassName("list_pair");

            // add eventListener to each note div
            for (const div of divs) {
                div.addEventListener('click', () => {
                    let note_id = parseInt(div.getAttribute('id').slice(4));
                    fetch("/get_note/" + note_id, {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        
                        // update all html elements for tags and notes editting area with information for the clicked note
                        document.getElementById("taglist").style.display = "flex";
                        document.getElementById("tags").style.display = "flex";
                        document.getElementById("tags").style.marginRight = (data["tags"].length) ? "1em" : "0em";
                        document.getElementById("note_title").value = data["selected_title"];
                        document.getElementById("note_body").value = data["selected_body"]
                        document.getElementById("notes__preview").selected_note_id = data["id"];
                        let tags_ = document.getElementById("tags");
                        tags_.replaceChildren();
                        for (const tag of data["tags"]) {
                            tags_.innerHTML += `<li class='tag' tag_id=${tag[0]}>${tag[1]}</li>`;
                        }
                    })
                    .catch(error => {
                        console.error("Error making call " + error);
                    })
                });
            }
        }

        makeNotesListClickable();

        // make API call to create or save notes
        function handleSaveNote() {

            // get all required information to send to the API for creating or saving notes
            let note_title = document.getElementById("note_title").value;
            let note_body = document.getElementById("note_body").value;
            
            // set note_id to 0 if it is new note
            let note_id = document.getElementById("notes__preview").selected_note_id || 0;

            // make API call
            fetch("/save/" + note_id, {
                method: 'POST',
                headers: {
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({
                    note_title: note_title,
                    note_body: note_body
                })
            }
            )
            .then(response => response.json())
            .then(data => {

                // if a new note is created
                if (data['new']) {

                    // update the notes sidebar with a new icon for the new note
                    let l = document.getElementById("notes__list");
                    document.getElementById("notes__preview").selected_note_id = data['note_id'];
                    l.innerHTML += `<div id="pair${data['note_id']}" class="list_pair">
                                    <div class="notes__list-item" id="note${data['note_id']}" tabindex="-1" type="submit">
                                        <div class="notes__small-title">${data['note_title']}</div>
                                        <div class="notes__small-body">${data['note_body'].slice(0, 45)}</div>
                                        <div class="notes__small-updated" id="update">Last Edited Friday 3:00 PM</div>
                                    </div>
                                    <img id="thumb${data['note_id']}" class="notes__list-item thumb" style="display:none">
                                </div>`
                    makeNotesListClickable();
                }

                // new note was not created
                else {
                    console.log("here")
                    // update the information contained by the note in the note sidebar
                    let side_bar = document.getElementById("note" + note_id);
                    side_bar.getElementsByClassName("notes__small-title")[0].innerHTML = note_title.slice(0, 30);
                    side_bar.getElementsByClassName("notes__small-body")[0].innerHTML = note_body.slice(0, 45);
                }
            })
            .catch(error => {
                console.log("Error " + error);
            });
        }
        // Function that convert the note on website to pdf file
        function download() {
            let note_title = document.getElementById("note_title").value;
            let note_body = document.getElementById("note_body").value;
            let htmlContent =` <h1 style="color: black;">${note_title}</h1><p style="color: black;">${note_body}</p>`;
            html2pdf().from(htmlContent).save();
        }

        // update all information of preview area whenever user clicks on "New Note"
        function handleNewNote() {
            // clear tags and make them disappear
            let tags_ = document.getElementById("tags");
            tags_.replaceChildren();
            tags_.style.display = "none";
            document.getElementById("add_tag").value = null;
            document.getElementById("taglist").style.display = "none";

            //clear title and body fields for new note
            document.getElementById("note_title").value = null;
            document.getElementById("note_body").value = null;
            document.getElementById("notes__preview").selected_note_id = "0";
        }

        // handle with user clicks on button to add a new tag
        function handleAddTag() {

            // get appropriate data for creating new tag
            const tag_name = document.getElementById("add_tag").value;
            document.getElementById("add_tag").value = null;
            let selected_note_id = document.getElementById("notes__preview").selected_note_id;

            // make API call to create the tag
            fetch("/add_tag", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    selected_note_id: selected_note_id,
                    tag_name: tag_name
                })
            }
            ).then(response => response.json()
            ).then(data => {
                const tagsDropdownMenu = document.getElementById('tags-dropdown-menu');

                // dynamically create checkbox for created tag for filters when a new tag is created
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.name = 'filter_tags';
                checkbox.value = data['tag_id'];

                const label = document.createElement('label');
                label.appendChild(checkbox);
                label.appendChild(document.createTextNode(data['tag_name']));

                tagsDropdownMenu.appendChild(label);
                checkbox.addEventListener('change', handleFilterByTag);

                // add a new tag with the tag name entered by user into the DOM
                console.log(data);
                let tags_ = document.getElementById("tags");
                tags_.innerHTML += `<li class='tag' tag_id=${data['tag_id']}>${data['tag_name']}</li>`;
            });
        };
        
        // make API call to generate a new thumbnail for note
        function handleGenThumb() {

            // get note id and note body to send to API
            let note_body = document.getElementById("note_body").value;
            let note_id = document.getElementById("notes__preview").selected_note_id;

            // make button do nothing when calling the API so that requests happen one at a time
            let btn = document.getElementById("gen_thumb");
            btn.onclick = "";

            // make API call to /get_thumb/<note_id> endpoint
            fetch("/get_thumb/" + note_id, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    note_id: note_id,
                    note_body: note_body
                })
            }
            ).then(response => response.json()
            ).then(data => {

                // add random numbers to the end of resource url so it is unique and browser does not fetch from cache
                document.getElementById("thumb" + note_id).src = "/" + data["path"] + "?" + Math.ceil(Math.random() * 100000);

                // display the img tag if it was set to hidden before
                document.getElementById("thumb" + note_id).style.display = "block";
                console.log(document.getElementById("note" + note_id).src);
            });

            // reset onclick
            btn.onclick = handleGenThumb;
        };

        // make field to add new tag dynamically resize to fit content
        const add_tag = document.getElementById("add_tag");
        add_tag.addEventListener('input', (e) => {
            e.target.style.width = e.target.value.length + "ch";
        });

        makeNotesListClickable()

        // update Notes sidebar with notes
        function updateNotesList(notes) {
            const notesListContainer = document.getElementById("notes__list");
            notesListContainer.innerHTML = null;

            notes.forEach(note => {
                if (note.thumb) {
                    notesListContainer.innerHTML += `<div id="pair${note.id}" class="list_pair">
                                                        <div class="notes__list-item" id="note${note.id}" tabindex="-1" type="submit">
                                                            <div class="notes__small-title">${note.title}</div>
                                                            <div class="notes__small-body">${note.body.slice(0, 45)}</div>
                                                            <div class="notes__small-updated" id="update">Last Edited Friday 3:00 PM</div>
                                                        </div>
                                                        <img id="thumb${note.id}" class="notes__list-item thumb"src="/thumbnails/${note.id}.png">
                                                    </div>`;
                }
                else {
                    notesListContainer.innerHTML += `<div id="pair${note.id}" class="list_pair">
                                                        <div class="notes__list-item" id="note${note.id}" tabindex="-1" type="submit">
                                                            <div class="notes__small-title">${note.title}</div>
                                                            <div class="notes__small-body">${note.body.slice(0, 45)}</div>
                                                            <div class="notes__small-updated" id="update">Last Edited Friday 3:00 PM</div>
                                                        </div>
                                                        <img id="thumb${note.id}" class="notes__list-item thumb" style="display:none">
                                                    </div>`;
                }
            });

            makeNotesListClickable();
        }

        function handleFilterByTag() {
            // fetch notes based on selected tags

            document.getElementById("searchQuery").value = null;
            const selectedTags = Array.from(document.querySelectorAll('input[name="filter_tags"]:checked')).map(tag => tag.value);

            // when there is more than one tag selected, add their ids, otherwise param is optional
            const tagsQueryParam = selectedTags.length > 0 ? `tags=${selectedTags.join(',')}` : '';

            // send data to backend with the selected tag IDs for filtering
            fetch(`/get_notes?${tagsQueryParam}`, {
                method: 'GET',
            })
                .then(response => response.json())
                .then(notes => {
                    console.log("Notes from server:", notes);
                    updateNotesList(notes);
                })
                .catch(error => {
                    console.log("Error: " + error);
                });
        }

        fetch('/get_tags', {
            method: 'GET',
        })
            .then(response => response.json())
            .then(tags => {
                const tagsDropdownMenu = document.getElementById('tags-dropdown-menu');

                tags.forEach(tag => {
                    const checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.name = 'filter_tags';
                    checkbox.value = tag.id;

                    const label = document.createElement('label');
                    label.appendChild(checkbox);
                    label.appendChild(document.createTextNode(tag.title));

                    tagsDropdownMenu.appendChild(label);
                    checkbox.addEventListener('change', handleFilterByTag);
                });

                // toggle visibility of tags dropdown menu on hover
                const tagsDropdown = document.getElementById('tags-dropdown');

                // show menu on hover
                tagsDropdown.addEventListener('mouseenter', () => {
                    tagsDropdownMenu.style.display = 'block';
                });

                // hide menu when mouse leaves icon
                tagsDropdown.addEventListener('mouseleave', () => {
                    tagsDropdownMenu.style.display = 'none';
                });

                // keep menu displayed when hovering over the menu
                tagsDropdownMenu.addEventListener('mouseenter', () => {
                    tagsDropdownMenu.style.display = 'block';
                });

                // hide menu when mouse leaves the menu
                tagsDropdownMenu.addEventListener('mouseleave', () => {
                    tagsDropdownMenu.style.display = 'none';
                });
                handleFilterByTag();
            })
            .catch(error => {
                console.log("Error: " + error);
            });
            
            // makes API call to /search endpoint and gets all notes with query in title or body
            function handleSearch(event) {
                event.preventDefault(); // Prevent default form submission behavior

                // fetch notes based on selected tags
                const selectedTags = Array.from(document.querySelectorAll('input[name="filter_tags"]:checked')).map(tag => tag.value);

                // when there is more than one tag selected, add their ids, otherwise param is optional
                const tagsQueryParam = selectedTags.length > 0 ? `${selectedTags.join(',')}` : '';
                let query = document.getElementById("searchQuery").value;
                fetch("/search", {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ search_query: query, tag_ids: tagsQueryParam})
                })
                .then(response => response.json())
                .then(data => {
                    updateNotesList(data);
                })
                .catch(error => {
                    console.error("Error making search request: ", error);
                });
            }
    </script>

<script>
    // function to switch language of the web page
    function changeLanguage(lang) {
        // Add or modify the elements you want to translate
        let newNoteButton = document.querySelector(".notes__add");
        let deleteNotesButton = document.querySelector(".notes__delete");
        let downloadButton = document.querySelector(".notes__download");
        let saveNoteButton = document.querySelector(".notes__save");
        let genThumbButton = document.querySelector("#gen_thumb");
        let logOutButton = document.querySelector(".cta button"); // Log Out button
        let englishButton = document.querySelector("#languageSwitcherContainer button:nth-child(1)");
        let spanishButton = document.querySelector("#languageSwitcherContainer button:nth-child(2)");
        let noteTitlePlaceholder = document.getElementById("note_title").placeholder;
        let noteBodyPlaceholder = document.getElementById("note_body").placeholder;

        if (lang == "en") {
            newNoteButton.innerHTML = "New Note";
            deleteNotesButton.innerHTML = "Delete Notes";
            downloadButton.innerHTML = "Download";
            saveNoteButton.innerHTML = "Save Note";
            genThumbButton.innerHTML = "Generate New Thumbnail";
            logOutButton.innerHTML = "Log Out";
            englishButton.innerHTML = "English";
            spanishButton.innerHTML = "Spanish";
            document.getElementById("note_title").placeholder = "Enter a title...";
            document.getElementById("note_body").placeholder = "I am the note's body...";
        } else if (lang == "es") {
            newNoteButton.innerHTML = "Nueva Nota";
            deleteNotesButton.innerHTML = "Eliminar Notas";
            downloadButton.innerHTML = "Descargar";
            saveNoteButton.innerHTML = "Guardar Nota";
            genThumbButton.innerHTML = "Generar Miniatura Nueva";
            logOutButton.innerHTML = "Cerrar sesión";
            englishButton.innerHTML = "Inglés";
            spanishButton.innerHTML = "Español";
            document.getElementById("note_title").placeholder = "Ingrese un título...";
            document.getElementById("note_body").placeholder = "Este es el cuerpo de la nota...";
        }

        // Call other language-specific translation functions if needed

        // ... (Add translations for other elements as needed)
    }
</script>

</html>
</body>
</html>