<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Notes App Login</title>
</head>
<body>
    <div class="login-container">
        <h1>Notes App</h1>
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            {% if error1 %}
                <p class="error" style="color: red">{{ error1 }}</p>
            {% endif %}

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>


            <label for="remember">Remember me</label>
            <input type="checkbox" id="remember" name="remember">

            <button type="submit">Login</button>

            {% if error2 %}
                <p class="error" style="color: red;">{{ error2 }}</p>
            {% endif %}
        </form>

        <!-- Add the following link or button for user registration -->
        <p>Don't have an account? <a href="/create_account">Create Account</a></p>
        <p>Forgot your password? <a href="/forgot_password">Reset Password</a></p>

    </div>
</body>
</html>
