<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/styles.css">
    <title>Notes App Login</title>
</head>
<body>
    <div class="login-container">
        <h1>Notes App</h1>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>


            <label for="remember">Remember me</label>
            <input type="checkbox" id="remember" name="remember">

            <button type="submit">Login</button>

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>

        <!-- Add the following link or button for user registration -->
        <p>Don't have an account? <a href="/create_account.html">Create Account</a></p>
        <p>Forgot your password? <a href="/forgot_password.html">Reset Password</a></p>

    </div>
</body>
</html>
