<!-- options.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Options</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<a href="home"><button>Back</button></a>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="options-container">
        <div class="option-box" onclick="deleteAllNotes()">Delete all notes</div>
        <a href="update_profile" class="update_profile">Update Profile</a>
        <div class="option-box" onclick="changeCredentials()">Change username or password</div>
        <div id="languageSwitcherContainer">
            <button onclick="changeLanguage('en')"> English </button>
            <button onclick="changeLanguage('es')"> Spanish </button>
        </div>
        <!-- <a href="/login.html" class="option-box">Log Out</a> -->
        <div id="deleteacc" class="option-box">
            <button id="deleteAccountBtn" class="delete_account" type="button" onclick="delete_account()">Delete
                Account</button>
        </div>
    </div>
</body>

<script>
    function delete_account() {
    fetch('/delete_account', {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            window.location.href = '/';
        } else {
            console.error('Failed to delete account');
            throw new Error('Failed to delete account');
        }
    })
    .catch(error => {
        console.error('Error during delete account request:', error);
    });
}
</script>
<script>
    // function to switch language of web page
    function changeLanguage(lang) {
    let deleteNotesElement = document.querySelector(".option-box");
    let updateProfileElement = document.querySelector(".update_profile");
    let changeCredentialsElement = document.querySelector(".option-box[onclick='changeCredentials()']");
    let deleteAccountElement = document.querySelector(".delete_account");
    let backButtonElement = document.querySelector("body > a > button");
    let englishButton = document.querySelector("#languageSwitcher button:nth-child(1)");
    let spanishButton = document.querySelector("#languageSwitcher button:nth-child(2)");

    if (lang == "en") {
        deleteNotesElement.innerHTML = "Delete all notes";
        updateProfileElement.innerHTML = "Update Profile";
        changeCredentialsElement.innerHTML = "Change username or password";
        deleteAccountElement.innerHTML = "Delete Account";
        backButtonElement.innerHTML = "Back";
        englishButton.innerHTML = "English";
        spanishButton.innerHTML = "Spanish";
    } else if (lang == "es") {
        deleteNotesElement.innerHTML = "Eliminar";
        updateProfileElement.innerHTML = "Actualizar Perfil";
        changeCredentialsElement.innerHTML = "Cambiar nombre de usuario o contraseña";
        deleteAccountElement.innerHTML = "Eliminar cuenta";
        backButtonElement.innerHTML = "Atrás";
        englishButton.innerHTML = "Inglés";
        spanishButton.innerHTML = "Español";
    }
}
 </script>
</body>
 </html>