<!-- options.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Options</title>
</head>
<a href="home"><button>Back</button></a>
<body>
    <div class="options-container">
        <div class="option-box" onclick="deleteAllNotes()">Delete all notes</div>
        <a href="update_profile" class="update_profile">Update Profile</a>
        <div class="option-box" onclick="changeCredentials()">Change username or password</div>
        <div class="option-box" onclick="deleteAccount()">Delete your account</div>
        <div class="option-box" onclick="changeLanguage()">Change language</div>
        <a href="/login.html" class="option-box">Log Out</a>
    </div>
</body>
</html>
